@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-position: center center;
  background-size: cover;
  transition: 0.4s ease;
}

body::before {
  /* 利用伪类设计一个背景遮罩，降低其亮度 */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  /* 将这个遮罩放在最底层 */
  z-index: -1;
}

.slider-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 70vh;
  width: 70vw;
  position: relative;

  overflow: hidden;
}

.slide {
  /* 将没有active的slide变透明，达到隐藏效果 */
  opacity: 0;

  /* 将slide的大小覆盖整个视窗，但是由于slide-container的大小限制，溢出的部分将被裁切，露出背景低亮度部分 */
  height: 100vh;
  width: 100vw;

  /* 使背景居中，覆盖整个container */
  background-position: center center;
  background-size: cover;

  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: 0.4 ease;
  z-index: 100;
}

.slide.active {
  opacity: 1;
}

.arrow {
  position: fixed;
  color: #fff;
  background-color: transparent;
  padding: 20px;
  font-size: 30px;
  border: 2px solid orange;
  top: 50%;
  transform: translateY(-50%);

  cursor: pointer;
}

.arrow:focus {
  outline: 0;
}

.left-arrow {
  left: calc(15vw - 65px);
}

.right-arrow {
  right: calc(15vw - 65px);
}
